<h1>Editing Tank</h1>

<%= render 'form' %>
<div class="btn-group" role="group">
<%= link_to 'Show', @tank , class:"btn btn-default"%> 
<%= link_to 'Back', tanks_path , class:"btn btn-default"%>
</div>