<h1>Editing Type</h1>

<%= render 'form' %>
<div class="btn-group" role="group">
<%= link_to 'Show', @type, class:"btn btn-default" %> 
<%= link_to 'Back', types_path, class:"btn btn-default" %>
</div>