<p id="notice"><%= notice %></p>

<h1>Listing Types</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= link_to type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
<%= link_to 'New Type', new_type_path %>
<%else%>
<p>login to add new types</p>
<%end%>

