<h1>Editing Weapon</h1>

<%= render 'form' %>

<div> class="btn-group" role="group" </div>
<%= link_to 'Show', @weapon, class:"btn btn-default" %> 
<%= link_to 'Back', weapons_path, class:"btn btn-default" %>
</div>
