<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= link_to country.name, country %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
<%= link_to 'New Country', new_country_path %>
<%else%>
<p>login to add new country</p>
<%end%>